/*Main Container*/
.mainContainer{
    margin: 0 auto;
    width: 85%;
}

/*Jumbotron*/
.jumbotron{
    margin-bottom: -50px;
}

/*Header Row*/
.headerRow{
    margin-bottom: -50px;
    margin-top: 20px;
}

/*Text*/
/*Title*/
#mainTitle{
    text-align: center;
    margin: 0 auto;
}

/*Sub title*/
#subtitleDiv{
    margin-left: 20px;
    padding-top: 20px;
    margin-bottom: -20px;
}
#projectSubtitle{
    
    font-style: italic;
}


/*Buttons*/

.editBtn, .deleteBtn{
    margin: 0 4px;
   margin-top: -4px;

}



/*Edit page*/
.edit-customerHeader{
    font-weight: bold;
    border-bottom: 1px dotted white;
    margin-top: -12px;
}

/*Save Button*/
#saveCheck{
    margin: 0 5px;
}

#saveBtn{
    width: 120px;
    text-align: center;
    margin-top: 20px;
    margin-right: 18px;
    margin-bottom: 20px;
}

.saveRow{
       border-bottom: 1px dotted white;
}

/*Accounts Header*/
#accountsHeader{
    margin-top: 50px;
}

/*Add accounts button*/
#AddAccountBtn {
    margin-top: 60px;
    margin-right: 20px;
    margin-bottom: -20px;
}

#viewAccountsBtn{
    margin-top: 20px; 
    margin-right: 15px;
    width: 160px;
}

#editAccountsBtn{
    margin-right: 15px;
    margin-top: 20px;
}

#viewAccountsBtnText{
    margin-right: 5px;
}

#addAccountsBtn{
    margin-top: 20px;
    margin-right: 15px;
    
}
#editAccountsBtnText{
    margin-right:7px;
}
/*Nav Bar*/

.navbar{
    background-color: dodgerblue;
}

#mainNav{
    margin-top: 50px;
}

#editNavBar{
    margin-top: 20px;
}


/*accounts First Name*/
#accountsLastName{
    margin-right: 20px;
}

#AddAccountBtn2{
    margin-top: 20px;
    margin-right: 15px;
}
/*Validation*/
.red-border{
    border: 5px solid red;
}

#cancelBtn{
    margin-right: 15px;
    margin-top: 20px;
}

/*Required Text*/
.req {
    margin-left: 7px;
    color: lightcoral;
    font-style: italic;
}