/*Main Container*/
.mainContainer{
    margin: 0 auto;
    width: 85%;
}

/*Jumbotron*/
.jumbotron{
    margin-bottom: -50px;
}

/*Header Row*/
.headerRow{
    margin-bottom: -50px;
    margin-top: 20px;
}

/*Text*/
/*Title*/
#mainTitle{
    text-align: center;
    margin: 0 auto;
}

/*Sub title*/
#subtitleDiv{
    margin-left: 20px;
    padding-top: 20px;
    margin-bottom: -20px;
}
#projectSubtitle{
    
    font-style: italic;
}


/*Buttons*/

.editBtn, .deleteBtn{
    margin: 0 4px;
   margin-top: -4px;

}



/*Edit page*/
.edit-customerHeader{
    font-weight: bold;
    border-bottom: 1px dotted white;
    margin-top: -12px;
}

/*Save Button*/
#saveCheck{
    margin: 0 5px;
}

#saveBtn{
    width: 120px;
    text-align: center;
    margin-top: 20px;
    margin-right: 18px;
    margin-bottom: 20px;
}

.saveRow{
       border-bottom: 1px dotted white;
}




#viewAccountsBtn{
    margin-top: 20px; 
    margin-right: 15px;
    width: 160px;
}

#viewAccountsBtnText{
    margin-right: 5px;
}
/*Nav Bar*/

.navbar{
    background-color: dodgerblue;
}

#mainNav{
    margin-top: 50px;
}

#editNavBar{
    margin-top: 20px;
}
